
<html >
<body>
	<h1>Predict Salary Analysis</h1>

    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" placeholder="Sepal length" required="required" />
        <input type="text" placeholder="Sepal width" required="required" />
		<input type="text" placeholder="Petal length" required="required" />
  		<input type="text" placeholder="Petal " required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}


</body>
</html>
